*.bak
# Environnement Python
.venv/
_pycach_/
# Jupyter
.ipynb_checkpoints/
# Fichier de configuration utilisateur
*.env
*.ini
# Logs et fichier temporaires
*.log
*.tmp
# MacOS
.DS_Store
nohup.out
__pycache__/
# Docker files (si générés automatiquement)
docker-compose.override.yml
# VS code
.vs/
*.vsidx
